@font-face {
    font-family: 'Outrun-Future';
    src: url('Fonts/outrun_future/outrun-future.otf') format('opentype');
}
@font-face {
    font-family: 'Jost-Bold';
    src: url('Fonts/Jost/static/Jost-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Jost-Regular';
    src: url('Fonts/Jost/static/Jost-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Jost-SemiBold';
    src: url('Fonts/Jost/static/Jost-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Jost-SemiBoldItalic';
    src: url('Fonts/Jost/static/Jost-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Jost-Italic';
    src: url('Fonts/Jost/static/Jost-Italic.ttf') format('truetype');
}
#topbar {
    background-color: #F205CB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 15px solid #F2059F;
}

.container{
    padding-top: 20px;
}
img{
    background-color: #f27B13;
    padding: 1%;
}

#topbar h1 {
    color: white;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
    background-color: transparent;
    text-shadow: 
        0 0 5px #ff00cc,
        0 0 10px #ff00cc,
        0 0 20px #00ffff;
}

#navbar {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: large;
    font-family: 'Jost-Bold', sans-serif;
}

#navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 10px;
}

#navbar a:hover {
    background-color: #800152;
    color: #f2d544;
    border-radius: 5px;
}

#navbar span {
    color: white;
}
h1{
    background-color: #f2d544;
    color: #050706;
    display: inline-block;
    font-family: 'Outrun-Future', sans-serif;
}
h2{
    background-color: #f2d544;
    color: #050706;
    display: inline-block;
    font-family: 'Jost-SemiBold', sans-serif;
}

body{
    background-color: #0D0007;
    font-family: 'Jost-Regular', sans-serif;
}

ul{
    background-color: #f2d544;
    font-size: 18px;
    display: inline-block;
    font-family: 'Jost-Regular', sans-serif;
}

p{
    background-color: #f2d544;
    color: #050706;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    font-family: 'Jost-Regular', sans-serif;
}


.section {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
    align-items: flex-start;
}


.section.right {
    justify-content: flex-end;
    text-align: right;
}

.float-img {
    width: 600px;
    height: auto;
}


.section p {
    max-width: 400px;
    line-height: 1.6;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    padding-bottom: 20px; 
}

.content{
    flex: 1;
}

footer {
    background-color: #F205CB;
    width: 100%;
    padding: 10px;
    font-family: 'Jost-SemiBoldItalic', sans-serif;
}

footer p {
    color: white;
    background-color: transparent;
    font-weight: 400;
    text-align: right;
    padding-right: 10px;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}