.section {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.section::after {
    content: "";
    display: block;
    clear: both;
}
.content {
    font-family: 'Jost', sans-serif;
    line-height: 1.6;
    box-sizing: border-box;
}

.image-wrap {
    float: right;
    width: 400px;
    margin: 0 0 15px 20px;
}

.image-block {
    width: 100%;
    display: block;
}


.caption {
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
    font-family: 'Jost-Italic', sans-serif;
}
h2{
   display: initial;
}


p{
    background-color: transparent;
    color: #f2d544;
    font-size: 18px;
    text-align: center;
    display: initial;
    font-family: 'Jost-Regular', sans-serif;
}